
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Temporary directories
*/temp*
**/temp/*

*/tmp*
**/tmp/*

# macOS file
.DS_Store

# key pairs
**/keys/*

# Files temporary used for tests
*.removeme
